@tailwind base;
@tailwind components;
@tailwind utilities;


/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

body{
  background-color: rgb(35, 16, 16)
}

.btn {
  @apply bg-white  py-1 px-5  rounded-full text-sm text-black  ;
}
.input {
  @apply bg-gray-100 p-3 rounded-sm text-sm outline-none;
  
}

